/**
 * Created by AshZhang on 15/9/28.
 */


// Row
// ---------------------------

.row {
  &:extend(.clearfix all);
  margin-left: @gap / 2;
  margin-right: @gap / 2;
}


// Column
// ---------------------------

[class^=col-] {
  float: left;
  min-height: 1px;
  padding-left: @gap / 2;
  padding-right: @gap / 2;
}


// Column widths
// ---------------------------

.col-1-2 {
  width: percentage(1 / 2);
}

.col-1-3 {
  width: percentage(1 / 3);
}

.col-2-3 {
  width: percentage(2 / 3);
}

.col-3-5 {
  width: percentage(3 / 5);
}

.col-2-5 {
  width: percentage(2 / 5);
}