/**
 * Created by AshZhang on 15/9/26.
 */


@import "../../common/styles/_variables";


@icon-size:   8rem;
@icon-border: 0.25rem;


.action-menu {
  margin: 0 @gap;
}

.action-menu-item {
  float: left;
  padding-top: 3rem;
  text-align: center;
  width: 50%;

  &:last-child {
    padding-bottom: 3rem;
  }
}

.action-menu-icon {
  border-width: @icon-border;
  border-radius: 50%;
  display: block;
  font-size: 5rem;
  height: @icon-size;
  line-height: @icon-size - @icon-border * 2;
  margin: 0 auto 1rem;
  position: relative;
  width: @icon-size;
}

.action-menu-label {
  background: @color-primary;
  border-radius: 50%;
  color: @color-bg;
  font-size: @font-base;
  height: 2rem;
  line-height: 2rem;
  position: absolute;
    right: 0;
    top: 0;
  text-align: center;
  width: 2rem;
}

.action-menu-text {
  color: @color-text;
}


// Styles
// ---------------------------

.action-menu-style-1 {
  color: @color-style-1;
}
.action-menu-style-2 {
  color: @color-style-2;
}
.action-menu-style-3 {
  color: @color-style-3;
}
.action-menu-style-4 {
  color: @color-style-4;
}
.action-menu-style-5 {
  color: @color-style-5;
}
.action-menu-style-6 {
  color: @color-style-6;
}
.action-menu-style-7 {
  color: @color-style-7;
}
.action-menu-style-8 {
  color: @color-style-8;
}